<template>
        <div class="active-users card">
            <div class="card-header"></div>
                <div class="card-body">
                    <div class="user-panel">
                        <span class="text">Active Users:</span>
                        <div class="users">
                            <span class="user-item" v-for="(user,index) in users" :key="user.id">
                                <span :class="'span-circle color' + index" :title="user.name" alt="User Image">{{user.initials}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>



<script>
    import Event from '../event.js';

    export default {
        props: ['operationId'],
        data() {
            return {
                users: [],
            }
        },
        mounted() {
            Event
            .$on('users.here', (users) => {
                this.users = users;
                users.forEach(function(user){
                    user.initials =  getInitials(user);
                });
            })
            .$on('users.joined', (user) => {
                user.initials = getInitials(user);
                this.users.unshift(user);
            })
            .$on('users.left', (user) => {
                this.users = this.users.filter(u => {
                    return u.id != user.id
                });
            });
        },
    }

    function getInitials(user) {
        var name = user.name;
        var initials = name.match(/\b\w/g) || [];
        initials = ((initials.shift() || '') + (initials.pop() || '')).toUpperCase();
        return initials;
    };
</script>

<style>
    .active-users.card{
        float: left;
    }
    .active-users .user-panel {
        position: relative;
        width: 100%;
        padding: 0 10px;
        overflow: hidden;
        margin-top: 10px;
        margin-left: 25px;
    }
    .active-users .text {
        margin-top: 9px;
        float: left;
    }
    .active-users .users{
        float: right;
        background: none;
    }

    .active-users .user-panel .user-item span {
        text-align: center;
        border-radius: 50%;
        display: block;
        color: white;
        font-size: 17px;
        padding: 7px 10px;
    }
    .active-users .user-panel .user-item{
        float: left;
        margin-right: 5px;
    }

    .color0 {
        background-color: #F0E68C;
    }
    .color1 {
        background-color:#CD5C5C;
    }

    .color2 {
        background-color:#008080;
    }

    .color3 {
        background-color:#808080;
    }

    .color4 {

        background-color: #B0C4DE;
    }






</style>
