@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.navbar-laravel {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.quotation-box {
    background-color: #eee !important;
    position: fixed;
    bottom: 0;
    padding: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    max-width: none;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    z-index: 99;
    max-height: 300px;
    border-radius: 10px; /* Rounded corners */
}

.quotationButton {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    max-height: 30px;
    vertical-align: middle;
}

.showPDFButton {
    margin-right: 140px;
    padding: 1px;
}

.quotationButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#quotatoins-container {
    z-index: 999;

}

@media (min-width: 900px) {
    .modal-lg {
        width: 1100px;
    }

    .modal-xl {
        width: 1300px;
    }
}


.center-text td,
.center-text th,
.center-text tr {
    text-align: center;
}

.sticky-header body {
    padding-top: 50px;
}

.sticky-header table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.sticky-header th {
    position: sticky;
    top: 0px;
    background: #797553;
}
