.gray-container {
    background-color: #d9d9d9;
}


.itinerary-table-striped > tbody > tr:nth-child(odd) > td,
.itinerary-table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #212529;
}

.itinerary-table-dark {
    color: #fff;
    background-color: #32383e;
    border-color: #32383e;
}
.itinerary-table td,  .itinerary-table th {
    padding: .75rem;
    vertical-align: top;
    border: 0;
}

.tabbable-line > .nav-tabs{
    border: none;
}
.tabbable-line > .nav>li>a:focus, .tabbable-line > .nav>li>a:hover {
    text-decoration: none;
    background-color: #ffffff;
}
.tabbable-line > .nav-tabs >li >a{
    border: none;
}
.tabbable-line > .nav-tabs >li.active >a{
    border: none;
}

.tabbable-line > .nav-tabs > li.active {
    background: 0 0;
    border-bottom: 4px solid #36c6d3;
    position: relative;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    background: 0 0;
    border-bottom: 4px solid #9fe4ea;
}
.tabbable-line > .nav-tabs > li {
    margin: 0;
    border-bottom: 4px solid transparent;
}

/****** Time Line ******/

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}

.tab{
    padding-left:3em;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}

.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #fff;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;

}

.timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
    background-color: #f5f6fa;
    border: 1px solid #d3d7e9;
}
.timeline>li>.timeline-item:before{
    left: -21px;
    content: '';
    position: absolute;
    top: 4px;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #d3d7e9;

}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #d3d7e9;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}

.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
}
.timeline .timeline-footer a{
    color: white;
}

.timeline .timeline-footer{
    padding: 10px !important;
    border-top: 1px solid #eee;
    margin-top: 15px;
}

/****Mix it up ***/
.timeline li.timeline-item-container {
    display: none;
}

.timeline li.timeline-item-container {
    width: 100%;
}

.timeline .no-activities-message {
    display: none;
    text-align: center;
}

.timeline.fail .no-activities-message {
    display: block;
}
/*** DASHBOARD ***/
.icon-reminder{
    text-align: center;
    float: left;
    padding: 10px;
    margin-right: 10px;
    font-size: 25px;
    border-radius: 100%;
}


.table_row_slider .row{
    margin: 0;
}



/*** Operations****/
.operation-info {
    position: fixed;
    width:100%;
    z-index: 999;
    top: 0px;
    opacity: 0.95;
    margin:0px;
    background-color:#ecf0f5;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.one-line .form-group{
    width: 100% !important;
}
.one-line .form-control{
    width: 100% !important;
}

hr.separator{
    margin-top: 10px !important;
}

td.sub-table-container{
    padding: 0 !important;
}
table.sub-table{
    margin: 0;
    background: none !important;
    text-align: center;
    border-right: 1px solid #f9f9f9;
    border: 0px !important;
}
.sub-table i{
    font-size: 16px;
}

.upload-file-without-input > input
{
    display: none;
}

.upload-file-without-input i
{
    width: 80px;
    cursor: pointer;
}

#procurement-table .icon-table{
    font-size: 20px;
    padding: 0;
}
#procurement-table .icon-table.text-success{
    color: #33a55a;
}

.deleteButton{
    padding: 3px 7px;
    font-size: 10px;
    margin: 2px;
}

#company .tab-panel{
    min-height: 500px;
}


#crm-company .box-body .text-muted{
    font-size: 16px;
}
#crm-company .box-title{
    font-weight: 500;
}
#crm-company .products-list .product-description{
    white-space: normal;
    overflow: auto;
}
#crm-company #add-activity button{
    margin: -5px;
}

#crm-company .box-body .fa{
    padding-right: 5px;
}

#crm-company .product-info{
    min-height: 50px;
}

#crm-company .product-footer{
    margin-top: 10px;


}

.text-wrap{
    height: 35px;
    white-space: pre-wrap;
    padding: 0;
    background-color: transparent;
}

.round-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 35px;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 13px;
    padding: 0;
}

.hide-button-align-right{
    float: right;
    display: none;
}