table {
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 16px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 5px 15px;
  height: auto;
}

.main-footer, title, header, footer  {
  display: none !important;
}

.left-offset{
  margin-left: 10%;
}

print{
  width: 1000px;
}
